 body {
 	
 }
 .slider {
 	width: 60%;
 	position: relative;
 	margin: 0 auto;
 	

 }
 .slider>ul,
 .slider>ul li {
 	width: 100%;
 	padding: 0;
 	margin: 0; 	
 	list-style-type: none;
 }
 .slider>ul{
 	position: relative;

 }
  .slider>ul li {
  	background-color: green;
  	position: absolute;
  	visibility: hidden;
  }
 .slider>ul li img {
 	width: 100%;
 	height: 100%;
 	display: inline-block;
 }
 .slider button {
 	position: absolute;
 	top: 50%;
 	border: 0;
 	width: 26px;
 	height: 44px;
 	background-color: rgba(0,0,0,0);
 	background-image: url(buttonBack1.png);
 }
 .slider button:hover{
 	background-image: url(buttonBackHover1.png);
 }
 .slider button.back { 	
 	left: 0;
 	-webkit-transform: rotate(180deg);
 	-moz-transform: rotate(180deg); 
  	-o-transform: rotate(180deg);
  	transform: rotate(180deg);  
   
 }
.slider button.next { 
	right: 0;
}
 .slider>ul li.visit {
 	background-color: red;
 	visibility: visible;
 }
 .slider>nav{
 	position: relative;
 	display: inline-block;
 	margin: 67% 0 0 35%;
 }
 .slider>nav>li{
 	margin-right: 10px;
 	
 	float: left;
 	color: red;
 	font-size: 25px;
 	z-index: 1;
 }
 .slider>nav>li.on{
 	color: green;
 }